/* RESET */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, cite,
em, img, strong, sub, sup,
dl, dt, dd, ol, ul, li, menu, nav,
fieldset, form, label, legend, button,
table, tbody, tfoot, thead, tr, th, td, dfn {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-outline: 0;
  outline: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ol, ul {
  list-style: none; }

dfn {
  font-style: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input::-moz-focus-inner
, button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input:focus
, textarea:focus
, select:focus
, button:focus {
  outline: 0; }

input
, textarea {
  -webkit-border-radius: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

article, aside, footer, header, hgroup, main, nav, section {
  display: block; }

@font-face {
  font-family: 'UNiDAYSPro-Book';
  src: url("https://fonts1.unidays.world/unidays/v1/all-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UNiDAYSPro-Demi';
  src: url("https://fonts1.unidays.world/unidays/v1/all-demi.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UNiDAYSPro-Heavy';
  src: url("https://fonts1.unidays.world/unidays/v1/all-heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body > nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f4f4f4;
  box-sizing: border-box;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px; }

body > nav .logo {
  font-family: 'UNiDAYSPro-Heavy';
  font-size: 24px;
  display: block;
  margin-top: -12px;
  z-index: 4; }

body > nav .logo img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin: 0 0 8px 0; }

body > nav > ul {
  width: 100%;
  overflow: visible; }

body > nav > ul > li {
  float: left;
  position: relative;
  margin: 0 10px; }

body > nav > ul > li {
  padding-top: 12px; }

body > nav li > ul {
  display: none;
  left: 25px;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  width: 100%; }
  @media (min-width: 768px) {
    body > nav li > ul {
      width: 300px;
      left: 25px;
      position: absolute; } }

body > nav > ul > li > ul ul {
  left: 100px; }

body > nav li:hover > ul {
  display: block; }

body > nav > ul > li li {
  padding: 5px; }

.has-menu body {
  overflow: hidden;
  position: fixed; }

h2 {
  margin: 0;
  line-height: 1;
  color: #444; }

.wrapper {
  padding: 2em; }

.menu {
  width: 50%;
  position: fixed;
  background: #fff;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  max-width: 50vw;
  border-radius: 1px;
  font-size: 1em;
  transform: translate(-105%, 0);
  transition: all 300ms;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
  z-index: 5; }

.has-menu .menu {
  transform: translate(0, 0); }

.menu span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444; }

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms; }

.has-menu .menu-overlay {
  opacity: 1;
  visibility: visible; }

.trigger-btn {
  color: #444;
  cursor: pointer;
  transition: all 200ms ease;
  margin-bottom: 2em; }

.trigger-btn i {
  font-size: 2.5rem; }

.trigger-btn:hover,
.trigger-btn:active {
  opacity: 0.75; }

.header i:hover,
.header i:active {
  opacity: 0.5; }

/* Typography */
html {
  height: 100%;
  overflow-y: scroll; }

body {
  font-family: 'UNiDAYSPro-Book', sans-serif;
  font-size: 20px;
  height: 100%;
  background: #f4f4f4;
  padding-top: 80px; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: underline; }

body > nav a.active {
  font-family: 'UNiDAYSPro-Demi'; }

#content {
  box-sizing: border-box;
  padding: 10px; }
  @media (min-width: 768px) {
    #content {
      padding: 20px; } }

h1 {
  margin-bottom: 1em;
  font-family: 'UNiDAYSPro-Demi';
  font-size: 1.5em; }

h2 {
  margin-bottom: 1em;
  font-family: 'UNiDAYSPro-Demi';
  font-size: 1.3em; }

p,
li {
  line-height: 150%; }

.box {
  background: #fff;
  margin: 0 0 30px 0;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  width: 100%; }
  @media (min-width: 768px) {
    .box {
      width: 48%; } }
  .box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .box-inner-container {
    padding: 0.625em; }
    @media (min-width: 768px) {
      .box-inner-container {
        padding: 1em; } }
  .box-table {
    width: 100%;
    overflow-x: scroll; }
  .box *:last-child {
    margin-bottom: 0; }
  .box .wrapper {
    padding: 1em; }
  .box:nth-child(even) h1, .box:nth-child(even) h2, .box:nth-child(even) h3 {
    background-color: #99E4F1; }
  .box:nth-child(odd) h1, .box:nth-child(odd) h2, .box:nth-child(odd) h3 {
    background-color: #6DD5BD; }
  .box h1, .box h2, .box h3 {
    margin-bottom: 0;
    font-family: 'UNiDAYSPro-Heavy';
    font-size: 1.3em;
    padding: 0.625em; }
    @media (min-width: 768px) {
      .box h1, .box h2, .box h3 {
        padding: 1em; } }
  .box h3 {
    margin-bottom: 1em;
    font-family: 'UNiDAYSPro-Demi';
    font-size: 1.2em; }

section ul li {
  list-style-type: lower-alpha;
  margin: 0 0 1em 1.5em; }

.coltainer {
  display: flex;
  flex-flow: row wrap; }

.coltainer .item {
  width: calc((100% / 2) - 50px); }

/* TABLES */
table {
  border: solid 1px #ccc;
  width: 100%; }

tr.criteria-0 td {
  border-top-width: 2px;
  border-top-color: #333; }

th {
  font-family: 'UNiDAYSPro-Demi';
  background: #eee; }

td,
th {
  border: solid 1px #ccc;
  padding: 5px;
  vertical-align: middle; }

thead td {
  border-top: solid 1px #fff;
  border-left: solid 1px #fff; }

tbody th {
  text-align: right; }

tbody td {
  text-align: center;
  font-size: 80%; }

tbody td.input {
  padding: 0px; }

tbody td.input textarea {
  display: block;
  border: 0;
  background: #f5f5f5;
  font-family: 'UNiDAYSPro-Book';
  padding: 5px; }

tbody td.input textarea.populated,
tbody td.input textarea:focus {
  background: #fff; }

tr.active td,
tr.active th {
  background-color: #1dd577; }

tr.level-above td,
tr.level-above th {
  background-color: #fefefe; }

a.button {
  display: inline-block;
  background: #1dd577;
  border-radius: 3px;
  padding: 5px 8px; }

.tab-container > nav {
  margin: 0 0 20px 0; }

.tab-container > nav a {
  display: inline-block;
  margin: 0 5px;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 8px 10px; }

.tab-container > nav a.active {
  border-color: #333; }

.tab-container > section {
  display: none; }

.tab-container > section.active {
  display: block; }

/*# sourceMappingURL=styles.css.map */