.has-menu body {
    overflow: hidden;
    position: fixed;
}

h2 {
    margin: 0;
    line-height: 1;
    color: #444;
}

.wrapper {
    padding: 2em;
}

.menu {
    width: 50%;
    position: fixed;
    background: #fff;
    top: 0;
    bottom: 0;
    max-height: 100vh;
    max-width: 50vw;
    border-radius: 1px;
    font-size: 1em;
    transform: translate(-105%, 0);
    transition: all 300ms;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
    z-index: 5;
}

.has-menu .menu {
    transform: translate(0, 0);
}

.menu span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
}

.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;
}

.has-menu .menu-overlay {
    opacity: 1;
    visibility: visible;
}

.trigger-btn {
    color: #444;
    cursor: pointer;
    transition: all 200ms ease;
    margin-bottom: 2em;
}

.trigger-btn i {
    font-size: 2.5rem;
}

.trigger-btn:hover,
.trigger-btn:active {
    opacity: 0.75;
}

.header i:hover,
.header i:active {
    opacity: 0.5;
}