body>nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f4f4f4;
    box-sizing: border-box;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
}

body>nav .logo {
    font-family: 'UNiDAYSPro-Heavy';
    font-size: 24px;
    display: block;
    margin-top: -12px;
    z-index: 4;
}

body>nav .logo img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 0 0 8px 0;
}

body>nav>ul {
    width: 100%;
    overflow: visible;
}

body>nav>ul>li {
    float: left;
    position: relative;
    margin: 0 10px;
}

body>nav>ul>li {
    padding-top: 12px;
}

body>nav li>ul {
    
    display: none;
    left: 25px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
    width: 100%;

    @media (min-width: 768px) {
        width: 300px;
        left: 25px;
        position: absolute;
    }
}

body>nav>ul>li>ul ul {
    left: 100px;
}

body>nav li:hover>ul {
    display: block;
}

body>nav>ul>li li {
    padding: 5px;
}