@font-face {
    font-family: 'UNiDAYSPro-Book';
    src: url("https://fonts1.unidays.world/unidays/v1/all-book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'UNiDAYSPro-Demi';
    src: url("https://fonts1.unidays.world/unidays/v1/all-demi.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'UNiDAYSPro-Heavy';
    src: url("https://fonts1.unidays.world/unidays/v1/all-heavy.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}



/* RESET */

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, cite,
em, img, strong, sub, sup,
dl, dt, dd, ol, ul, li, menu, nav,
fieldset, form, label, legend, button,
table, tbody, tfoot, thead, tr, th, td, dfn
{
	margin: 0;
	padding: 0;
	border: 0;
	-moz-outline: 0;
	outline: 0;
	vertical-align: baseline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	font-weight: normal;

}
h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
}
ol, ul
{
	list-style: none;
}
dfn
{
	font-style: inherit;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}
input::-moz-focus-inner
,button::-moz-focus-inner
{ 
	border: 0;
	padding: 0;
}

input:focus
,textarea:focus
,select:focus
,button:focus
{
	outline: 0;
}
input
,textarea
{
	-webkit-border-radius: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

article, aside, footer, header, hgroup, main, nav, section
{
	display: block;
}


/* Typography */

html
{
    height: 100%;
    overflow-y: scroll;
}

body
{
    font-family: 'UNiDAYSPro-Book', sans-serif;
    font-size: 20px;
    height: 100%;
    background: #f4f4f4;
}

nav
{
    box-sizing: border-box;
    padding: 20px;
    height: 60px;
    margin-bottom: 20px;
}

nav .logo
{
    font-family: 'UNiDAYSPro-Heavy';
    font-size: 24px;
    display: block;
    margin-top: -12px;
}

nav .logo img
{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 0 0 8px 0;
}

nav > ul
{
    width: 100%;
    overflow: visible;
}

nav > ul > li
{
    float: left;
    position: relative;
    margin: 0 10px;
}
nav > ul > li
{
    padding-top: 12px;
}

nav li > ul
{
    width: 300px;
    display: none;
    position: absolute;
    left: 25px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.4) 0 0 5px;
}

nav > ul > li > ul ul
{
    left: 100px;
}

nav li:hover > ul
{
    display: block;
}

nav > ul > li li
{
    padding: 5px;
}

a
{
    text-decoration: none;
    color: inherit;
}
a:hover
{
    text-decoration: underline;
}

nav a.active
{
    font-family: 'UNiDAYSPro-Demi';
}

#content
{
    box-sizing: border-box;
    padding: 20px;
}

h1
{
    margin-bottom: 1em;
    font-family: 'UNiDAYSPro-Demi';
    font-size: 1.5em;
}

h2
{
    margin-bottom: 1em;
    font-family: 'UNiDAYSPro-Demi';
    font-size: 1.3em;
}

p, li
{
    line-height: 150%;
}

.box
{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
    margin: 10px 10px 30px 10px;
    padding: 15px;
}

.box h2
{
    margin-bottom: 1em;
    font-family: 'UNiDAYSPro-Demi';
    font-size: 1.2em;
}

.box h3
{
    margin-bottom: 1em;
    font-family: 'UNiDAYSPro-Demi';
    font-size: 1.2em;
}


#content ul li
{
    list-style-type: lower-alpha;
    margin: 0 0 1em 1.5em;
}

*:last-child
{
    margin-bottom: 0;
}

section.role
{
    
}

.coltainer
{
    display: flex; 
    flex-flow: row wrap;
}

.coltainer .item
{
    width: calc( (100% / 2) - 50px );
}

/* TABLES */

table
{
    border: solid 1px #ccc;
}

th
{
    font-family: 'UNiDAYSPro-Demi';
}

td, th
{
    border: solid 1px #ccc;
    padding: 5px;
    vertical-align: middle;
}

thead td
{
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
}

tbody th
{
    text-align: right;
}

tbody td
{
    text-align: center;
}


tr.active td,
tr.active th
{
    background-color: #1dd577;
}

tr.level-above td,
tr.level-above th
{
    background-color: #fefefe;
}