@font-face {
    font-family: 'UNiDAYSPro-Book';
    src: url("https://fonts1.unidays.world/unidays/v1/all-book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'UNiDAYSPro-Demi';
    src: url("https://fonts1.unidays.world/unidays/v1/all-demi.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'UNiDAYSPro-Heavy';
    src: url("https://fonts1.unidays.world/unidays/v1/all-heavy.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}



/* RESET */

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, cite,
em, img, strong, sub, sup,
dl, dt, dd, ol, ul, li, menu, nav,
fieldset, form, label, legend, button,
table, tbody, tfoot, thead, tr, th, td, dfn
{
	margin: 0;
	padding: 0;
	border: 0;
	-moz-outline: 0;
	outline: 0;
	vertical-align: baseline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	font-weight: normal;

}
h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
}
ol, ul
{
	list-style: none;
}
dfn
{
	font-style: inherit;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}
input::-moz-focus-inner
,button::-moz-focus-inner
{ 
	border: 0;
	padding: 0;
}

input:focus
,textarea:focus
,select:focus
,button:focus
{
	outline: 0;
}
input
,textarea
{
	-webkit-border-radius: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

article, aside, footer, header, hgroup, main, nav, section
{
	display: block;
}


/* Typography */

html
{
    height: 100%;
}

body
{
    font-family: 'UNiDAYSPro-Book', sans-serif;
    font-size: 20px;
    height: 100%;

    background: #f4f4f4;
}

.container
{
    min-height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}

nav
{
    width: 300px;
    -ms-flex: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
    box-sizing: border-box;
    padding: 20px;
}

nav .logo
{
    font-family: 'UNiDAYSPro-Heavy';
    font-size: 24px;
    display: block;
    margin: 0 0 15px 0;
}

nav .logo img
{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 0 0 8px 0;
}

nav .title
{
    font-size: 18px;
    font-family: 'UNiDAYSPro-Demi';
    display: block;
    margin: 0 0 15px 0;
}

nav .competency
{
    font-size: 16px;
    font-family: 'UNiDAYSPro-Demi';
    display: block;
    margin: 0 0 10px 0;
}

nav > section
{
    margin: 0 0 20px 0;
}

nav > section > ul
{
    margin-bottom: 15px;
}

nav li
{
    margin: 0 0 10px 0;
}

nav li > ul
{
    margin: 10px 0 0 15px;
}

nav a
{
    text-decoration: none;
    color: inherit;
}
nav a.active
{
    font-family: 'UNiDAYSPro-Demi';
}

#content
{
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;

    box-sizing: border-box;
    padding: 20px;
}

h1
{
    margin-bottom: 1em;
    font-family: 'UNiDAYSPro-Demi';
    font-size: 1.5em;
}

h2
{
    margin-bottom: 1em;
    font-family: 'UNiDAYSPro-Demi';
    font-size: 1.3em;
}

.box
{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
    margin: 10px;
    padding: 15px;
}

.box h2
{
    margin-bottom: 1em;
    font-family: 'UNiDAYSPro-Demi';
    font-size: 1.2em;
}

.box h3
{
    margin-bottom: 1em;
    font-family: 'UNiDAYSPro-Demi';
    font-size: 1.2em;
}


#content ul li
{
    list-style-type: lower-alpha;
    margin: 0 0 1em 1.5em;
}

*:last-child
{
    margin-bottom: 0;
}

section.role
{
    
}

.coltainer
{
    display: flex; 
    flex-flow: row wrap;
}

.coltainer .item
{
    width: calc( (100% / 2) - 50px );
}