<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Paths">
                    <match url="\." negate="true" />
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <!-- <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" /> -->
        </staticContent>
    </system.webServer>
</configuration>
