<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.web>
    <httpRuntime maxUrlLength="50000" maxQueryStringLength="2097151" />
  </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Paths">
                    <match url="\." negate="true" />
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <!-- <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" /> -->
        </staticContent>
        <security>
         <requestFiltering>
            <requestLimits maxQueryString="99999999">
            </requestLimits>
         </requestFiltering>
      </security>
    </system.webServer>
</configuration>
