.navigation {
    height: 10%;
    width: 100%;
    display: block;
    flex-shrink: 0;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    z-index: 5;
    justify-content: space-between;
    padding: 1em;

    .burger {
        width: 50px;
        height: 50px;
    }

    > nav {
        display: none;
    }

    .logo {
        display: block;
        
        img {
            width: 50px;
            height: 50px;
        }
    }

    &.js-menu-open {
        height: 100%;
        display: block;

        .burger {
            float: right;
            margin: 0;
        }

        > nav {
            display: block;
        }
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        background-color: rgb(247, 247, 247);
        color: black;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        width: 19%;
        min-width: 320px;

        .burger {
            display: none;
        }

        > nav {
            display: block;
        }
    }
}