// legacy colours
$color-unidays-blue: #99E4F1;
$color-unidays-green: #6DD5BD;
$color-unidays-grey: #F2F2F2;
$color-unidays-black: #000;
$color-unidays-white: #FFF;

// colours
$color-expert1: #004664;
$color-expert2: #00b9c3;
$color-expert3: #82d2eb;

$color-excitement1: #961e32;
$color-excitement2: #fd4962;
$color-excitement3: #faaaa0;

$color-optimism1: #f08c1e;
$color-optimism2: #ffc332;
$color-optimism3: #ffe65f;

$color-empowered1: #5f0041;
$color-empowered2: #a0377d;
$color-empowered3: #c378aa;

$color-human1: #005248;
$color-human2: #069c7b;
$color-human3: #82dcc8;