.accordion
{
    section
    {
        border-bottom: 1px solid $color-expert2;
        h4
        {
            padding: 0.8em;
            font-size: 0.8em;
            background: $color-expert3;
            cursor: pointer;

            span
            {
                float: right;
            }
        }

        ul
        {        
            padding: 0.625em;
            display: none;

            @media (min-width: 768px)
            {
                padding: 1em;
            }
        }

        &.current
        {
            h4
            {
                background: $color-expert2;
                font-size: 1.1em;
            }
        }

        &.open
        {
            ul 
            {
                display: block;
            }
        }
    }
}