.box
{
    background: #fff;
    margin: 0 0 30px 0;
    border-radius: 6px;
    box-shadow: 0 7px 9px rgba(0,0,0,0.2);
    width: 100%;

    .box-inner-container
    {
        padding: 0.625em;

        @media (min-width: 768px)
        {
            padding: 1em;
        }
    }

    *:last-child
    {
        margin-bottom: 0;
    }

    &-table {
        background-color: #99E4F1;
        overflow-x: auto;
    }

    .wrapper
    {
        padding: 1em;
    }

    h1
    , h2
    , h3
    {
        @include unidayspro-heavy;
        background-color: $color-unidays-blue;
        margin-bottom: 0;
        font-size: 1.3em;
        padding: 0.625em;
        border-radius: 6px 6px 0 0;

        h2:nth-child(3) {
            border-radius: 0;
        }

        @media (min-width: 768px)
        {
            padding: 1em;
        }
    }

    h3
    {
        @include unidayspro-demi;
        margin-bottom: 1em;
        font-size: 1.2em;
    }
}