.box
{
    background: #fff;
    margin: 0 0 30px 0;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    width: 100%;

    .box-inner-container
    {
        padding: 0.625em;

        @media (min-width: 768px)
        {
            padding: 1em;
        }
    }

    *:last-child
    {
        margin-bottom: 0;
    }

    .wrapper
    {
        padding: 1em;
    }

    h1
    , h2
    , h3
    {
        @include unidayspro-heavy;
        background-color: $color-unidays-blue;
        margin-bottom: 0;
        font-size: 1.3em;
        padding: 0.625em;

        @media (min-width: 768px)
        {
            padding: 1em;
        }
    }

    h3
    {
        @include unidayspro-demi;
        margin-bottom: 1em;
        font-size: 1.2em;
    }
}