a
{
    text-decoration: none;
    color: inherit;

    &:hover
    {
        text-decoration: underline;
    }
}

h1
{
    @include unidayspro-demi;
    margin-bottom: 1em;
    font-size: 1.5em;
}

h2
{
    @include unidayspro-demi;
    margin-bottom: 1em;
    font-size: 1.3em;
}

p,
li
{
    line-height: 150%;
}

section ul li
{
    list-style-type: lower-alpha;
    margin: 0 0 1em 1.5em;

    &.active
    {
        font-family: unidayspro-demi;
        border-radius: 6px;
        padding: 0.5em;
    }
}

section ol li
{
    margin: 0 0 1em 0;
}

a.button
{
    @include unidayspro-heavy;
    display: inline-block;
    background: #1dd577;
    border-radius: 3px;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 0.875rem;
    width: 206px;
    padding: 16px 0;
    margin: 0;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    text-align: center;
    background-color: #1dd577;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    display: block;
    line-height: 1;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #999999;
    }