form
{
    button[type="submit"]
    {
        position: fixed;
        top: 16px;
        right: 22px;
        z-index: 99;

        background: $color-unidays-green;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        color: $color-unidays-white;
        font-weight: bold;
    }

    input.rating
    {
        width: 21px;
        height: 21px;
    }
}