html
{
    height: 100%;
    overflow-y: scroll;
}

body
{
    @include unidayspro-book;
    font-size: 16px;
    height: 100%;
    background: #f4f4f4;
    padding-top: 80px;
}

#content
{
    box-sizing: border-box;
    padding: 10px;

    @media (min-width: 768px)
    {
        padding: 20px;
    }
}

.box-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .box
    {
        @media (min-width: 768px)
        {
            width: 49%;
        }

        @media (min-width: 1200px)
        {
            width: 32%;
        }
    }
}

.coltainer
{
    display: flex;
    flex-flow: row wrap;

    .item
    {
        width: calc((100% / 2) - 50px);
    }
}

.human-theme
{
    .box
    {
        h1
        {
            background-color: $color-human2;
            color: #fff;
        }

        h2, h3
        {
            background-color: $color-human3;
            color: #fff;
        }
    }

    section ul li
    {
        &.active
        {
            background-color: $color-human3;
        }
    }
}

.empowered-theme
{
    .box
    {
        h1
        {
            background-color: $color-empowered2;
            color: #fff;
        }

        h2, h3
        {
            background-color: $color-empowered3;
            color: #fff;
        }
    }

    section ul li
    {
        &.active
        {
            background-color: $color-empowered3;
        }
    }
}

.excitement-theme
{
    .box
    {
        h1
        {
            background-color: $color-excitement2;
            color: #fff;
        }

        h2, h3
        {
            background-color: $color-excitement3;
            color: #fff;
        }
    }

    section ul li
    {
        &.active
        {
            background-color: $color-excitement3;
        }
    }
}

.expert-theme
{
    .box
    {
        h1
        {
            background-color: $color-expert2;
            color: #fff;
        }

        h2, h3
        {
            background-color: $color-expert3;
            color: #fff;
        }

        &-table {
            background-color: $color-expert3;

            h2, h3
            {
                background-color: $color-expert1;
                color: #fff;
            }

            h2:nth-child(3) {
                border-radius: 0;
            }
        }
    }

    section ul li
    {
        &.active
        {
            background-color: $color-expert3;
        }
    }
}
