body 
{
    > nav 
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #f4f4f4;
        box-sizing: border-box;
        height: 70px;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;

        .logo 
        {
            @include unidayspro-heavy;
            font-size: 24px;
            display: block;
            margin-top: -12px;
            z-index: 4;

            img
            {
                width: 50px;
                height: 50px;
                vertical-align: middle;
                margin: 0 0 8px 0;
            }
        }

        > ul
        {
            width: 100%;
            overflow: visible;

            > li
            {
                float: left;
                position: relative;
                margin: 0 10px;
                padding-top: 22px;

                li
                {
                    padding: 5px;
                }

                > ul
                {
                    ul
                    {
                        left: 100px;
                    }
                }
            }
        }

        li
        {
            > ul
            {
    
                display: none;
                left: 25px;
                background: #fff;
                padding: 15px;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
                width: 100%;
            
                @media (min-width: 768px)
                {
                    width: 300px;
                    left: 25px;
                    position: absolute;
                }
            }

            &:hover
            {   @include breakpoint(tablet);
                @include breakpoint(mobile);
                > ul
                {
                    display: block;
                }
            }
        }
        
        a.active
        {
            @include unidayspro-demi;
        }

        &.force-collapse
        {
            > ul ul
            {
                display: none !important;
            }
        }
    }
}