.navigation {
    height: 10%;
    width: 100%;
    position: absolute;
    display: block;
    //flex-shrink: 0;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    z-index: 5;
    justify-content: space-between;
    padding: 0 1em;
    background-color: #eee;
    font-size: 1.5em;
    box-sizing: border-box;

    > nav {
        padding: 1em 0 0 0;
        display: none;
    }

    @media (min-width: 820px) {
        flex: 0 0 260px;
        background-color: rgb(247, 247, 247);
        color: black;
        font-size: 1em;
        height: 100%;
        flex-direction: column;
        position: inherit;

        .burger {
            display: none;
        }

        > nav {
            display: block;
        }
    }

    &.js-menu-open {
        padding: 0.5em 1em;
        flex: 0;
        position: absolute;
        justify-content: center;
        background-color: cyan;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .burger {
            float: right;
            margin: 0;
        }

        > nav {
            display: block;
        }
    }

    .burger {
        width: 50px;
        height: 50px;
    }

    .logo {
        display: inline-block;

        img {
            width: 50px;
            height: 50px;
        }
    }

    .js-list-trigger {
        cursor: pointer;

        &:after {
            content: "+";
            height: 50px;
            width: 50px;
            color: #000;
            font-size: 1.2em;
            margin-left: 0.5em;
        }

        &.active {
            &:after {
                content: "-";
            }
        }
    }

    ul ul {
        margin-bottom: 1em;
    }

    .list-2 {
        margin-left: 0.5em;
    }

    .list-3 {
        margin-left: 0.75em;
    }

    .list-1,
    .list-3 {
        display: none;

        &.active {
            display: block;
        }
    }
}