table
{
    border: solid 1px #ccc;
    width: 100%;
    background-color: #fff;
}

tr.criteria-0 td
{
    border-top-width: 2px;
    border-top-color: #333;
}

th
{
    @include unidayspro-demi;
    background: #eee;
}

td,
th
{
    border: solid 1px #ccc;
    padding: 5px;
    vertical-align: middle;
}

thead td
{
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
}

tbody th
{
    text-align: right;
}

tbody td
{
    text-align: center;
    font-size: 80%;
}

tbody td.input
{
    padding: 0px;
}

tbody td.input textarea
{
    @include unidayspro-book;
    display: block;
    border: 0;
    background: #f5f5f5;
    padding: 5px;
}

tbody td.input textarea.populated,
tbody td.input textarea:focus
{
    background: #fff;
}


tr.active td,
tr.active th
{
    background-color: #1dd577;
}

tr.level-above td,
tr.level-above th
{
    background-color: #fefefe;
}

td.rating-1
{
    background: $color-empowered3;
}

td.rating-2
{
    background: $color-excitement3;
}

td.rating-3
{
    background: $color-optimism3;
}

td.rating-4
{
    background: $color-expert3;
}

td.rating-5
{
    background: $color-human3;
}