.tab-container
{
    > nav
    {
        margin: 0 0 20px 0;

        a
        {
            display: inline-block;
            margin: 0 5px;
            border: solid 1px #ccc;
            border-radius: 5px;
            padding: 8px 10px;

            &.active
            {
                border-color: #333;
            }
        }
    }

    > section
    {
        display: none;

        &.active
        {
            display: block;
        }
    }
}